body {
      font-family: 'Padauk', sans-serif;
}
nav, header{
      background-color: #FFFBF0;
}

nav .container {
      background: url('../icons/shape.png');
      background-repeat: no-repeat;
      background-size: 7%;
      background-position: 28rem -1rem;
}

header {
      font-family: 'Roboto Condensed', sans-serif;
}

header h1.display-4{
      font-weight: bold;
}

a.btn {
      background-image: linear-gradient(#93c734, #79b100);
      color: white;
}
.card{
      border-radius: 1rem;border: none;
      box-shadow: 0 0 15px #ddd;
}
.card:hover{box-shadow: 0 0 5px #ddd; transition: all 1s;}
.card-img-top {
      background-color: #f1f1f1;border-radius: 1rem;
}

a{text-decoration: none;color: black;}
a:hover{color: black;}

footer .col.py-3.my-2{
      box-shadow: 0 0 15px #ddd;
}